.blog-center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
}
.blog-title{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;

}
.blog-cart{
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 40px 40px 100px 100px;
    gap: 30px;
}